<nav>
    <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo">
    </div>
    <section>
        <button>
            <a routerLink="/{{link_1}}"  routerLinkActive="link-ativo">{{area_1}}</a>
        </button>
        <button>
            <a routerLink="/{{link_2}}" routerLinkActive="link-ativo">{{area_2}}</a>
        </button>
    </section>

    <button>        
        <a routerLink="/{{link_3}}" routerLinkActive="link-ativo" (click)="Access()">{{area_3}}</a>
    </button>
</nav>