<div class="holder">
  <div class="card">
    <h1><p>Usuario</p></h1>

        <div class="Moldura">
            <figure class="Imagem">
                <img src="{{avatar}}" alt="" class="foto">
            </figure>
            <div class="text">
                <p><strong>Nome:</strong> {{ username }}</p>
                <p><strong>E-mail:</strong> {{ email }}</p>
            </div>
        </div>
    </div>
  <div class="concluido">
    <h1>Concluídos</h1>
    <p>Espanhol - Avançado</p>
    <p>Espanhol - Avançado</p>
    <p>Espanhol - Avançado</p>
    <p>Espanhol - Avançado</p>
  </div>
</div>